<!DOCTYPE html>
<!--
  GarfieldsCatHair: Sasha M, Chloe W, Moyo F, Claire S
  SoftDev
  P02: TuneTown
  2025-01-15
  Time Spent:
-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex gap-4 text-black font-serif">
        <p class="text-lg px-4 py-2"> Hello {{session['username']}}!</p>
        <form action="/signup">
            <input type="submit" value="Signup" class="text-lg bg-transparent border-none cursor-pointer hover:bg-pink-400 px-10 py-2" />
        </form>
        <form action="/login">
            <input type="submit" value="Login" class="text-lg bg-transparent border-none cursor-pointer hover:bg-pink-400 px-10 py-2" />
        </form>
        <form action="/">
            <input type="submit" value="View Profile" class="text-lg bg-transparent border-none cursor-pointer hover:bg-pink-400 px-8 py-2" />
        </form>
        <form action="/logout">
            <input type="submit" value="Logout" class="text-lg bg-transparent border-none cursor-pointer hover:bg-pink-400 px-10 py-2" />
        </form>
    </div>

    <h1 class="text-2xl font-serif indent-3">
        Welcome to TuneTown, a social media site for music lovers!
    </h1>
</body>

</html>
