<!DOCTYPE html>
<!--
  GarfieldsCatHair: Sasha M, Chloe W, Moyo F, Claire S
  SoftDev
  P02: TuneTown
  2025-01-15
  Time Spent:
-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Log In</button>
    </form>
    <p><a href="{{ url_for('signup') }}">Sign up</a></p>
</body>

</html>